src/main/mule/commonerrordemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<configuration doc:name="Configuration" doc:id="1456254d-618b-46be-9810-12bd9640d01f" defaultErrorHandler-ref="commonError_Handler" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3edcadb6-b2bb-4b2a-9f21-6bad97d0a42c" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<flow name="commonerrordemoFlow" doc:id="16713e56-46c3-4a87-a4ca-7d1cd1c42d3f" >
		<http:listener doc:name="Listener" doc:id="56f71402-5792-4d2d-a859-eec0c1aaf38d" path="/api/error4" config-ref="HTTP_Listener_config"/>
		<set-payload value='#["Before Request"]' doc:name='"Before Request"' doc:id="4bc8b6b9-4c0a-46d8-869a-f3fb128d1e8d" />
		<http:request method="GET" doc:name="Request" doc:id="b55977af-d160-40b7-b47c-acc35df961f8" url="sssn.com"/>
		<set-payload value='#["After Request"]' doc:name='"After Request"' doc:id="fa16ee4d-9639-46a8-8fd0-e1be65d6ec78" />
	</flow>
</mule>
